body {
    background-color: #1D1D1C;
}

header {
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vw 0;
}

header h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8vw;
    font-weight: 700;
    color: white;
}

